body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  min-width: 320px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  background-color: rgb(79, 168, 178);
  width: 100%;
  justify-content: center;
  height: 60vh;
  align-items: center;
}

.image {
  min-width: 320px;
  height: 40vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  width: 100%;
  text-align: center;
  height: 40vh;
}
.content {
  background-color: transparent;
  padding-left: 20px;
  padding-right: 20px;
}

.button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 7vw;
  align-self: flex-end;
  background-color: transparent;
}
