body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  min-width: 320px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(212, 212, 212);
}
/* TODO cambiar color de fondo de imagenes segun imagen */
.main {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  width: 320px;
  height: 400px;
  display: flex;
  border-radius: 10% 10% 0 0;
  align-content: center;
  justify-content: center;
}
.meditation {
  background-color: rgb(217, 184, 36);
}
.time {
  background-color: rgb(79, 168, 178);
}
.programming {
  background-color: rgb(203, 203, 203);
}

.imagen {
  max-width: 250px;
}

.main-container {
  display: flex;
  background-color: whitesmoke;
  height: 250px;
}

.content {
  justify-content: center;
  text-align: left;
  padding: 1em;
  line-height: 1.5;
}

.footer {
  height: 100px;
  border-radius: 0% 0% 10% 10%;
  background-color: whitesmoke;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.buttons {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 1em;
}

.next {
  width: 50px;
  height: 50px;
}

.prev {
  width: 50px;
  height: 50px;
}

.indicator {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.exitingToLeft {
  animation: slideOutToLeft 0.3s linear;
}

.exitingToRight {
  animation: slideOutToRight 0.3s linear;
}

.startingFromLeft {
  animation: slideInFromLeft 0.3s linear;
}

.startingFromRight {
  animation: slideInFromRight 0.3s linear;
}

@keyframes slideOutToRight {
  0% {
    transform: translateX(0%);
    opacity: 0;
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes slideOutToLeft {
  0% {
    transform: translateX(0%);
    opacity: 0;
  }
  100% {
    transform: translateX(-100%);
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
    opacity: 0;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
    opacity: 0;
  }
}
